.cell{
  height: 25px;
  width: 25px;
  outline: 1px solid lightgray;
}

/* .cell{
  height: 1.88vh;
  width: 1.25vw;
} */

.source{
  background-color: red;
  border-radius: 100%;
  animation-name: normal;
  animation-duration: 100ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  border-color: red;
  outline: 0px solid lightgray;
}

.destination{
  background-color: dodgerblue;
  animation-name: normal;
  animation-duration: 100ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 100%;
  border-color: dodgerblue;
  outline: 0px solid lightgray;
}

.block{
  background-color: grey;
  animation-name: normal;
  animation-duration: 100ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 0%;
}

.animate{
  background-color: yellow;
  animation-name: stretch;
  animation-duration: 4500ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 0%;
  outline: 1px solid white;
}

.spath{
  background-color: limegreen;
  animation-name: apath;
  animation-duration: 400ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  outline: 1px solid limegreen;
}

.snormal{
  animation-name: normal;
  animation-duration: 200ms; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 35%;
}

.butOn{
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  transition-duration: 300ms;
  font-weight: bold;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butOff{
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  transition-duration: 300ms;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butOff:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  transition-duration: 300ms;
}



@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
    outline: 1px solid white;
  }
  25%{
    transform: scale(.6);
  }
  50% {
    transform: scale(.9);
    background-color: orange;
    outline: 1px solid white;
  }
  75%{
    transform: scale(1.2);
    border-radius: 0%;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
    outline: 1px solid white;
  }
}

@keyframes apath {
  0% {
    transform: scale(0);
    outline: 1px solid white;
  }
  25%{
    transform: scale(.3)
  }
  50% {
    transform: scale(.6);
  }
  75%{
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    outline: 1px solid white;
  }
}

@keyframes normal {
  0% {
    transform: scale(.3);
  }
  25%{
    transform: scale(.6);
  }
  50% {
    transform: scale(.9);
  }
  75%{
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}